@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Space Mono', monospace;
    color: #333;
    width: 100vw;
    height: 100vh;
}

header {
    height: 10vh;
    padding: 1rem;
}

header > h1 {
    font-family: 'Inconsolata', monospace;
    font-size: 1.5rem;
}

main {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

div#image {
    width: 300px;
    height: 250px;
    background: url(../img/scarecrow.png) no-repeat;
    background-size: contain;
    background-position: center center;
    margin: -50px auto;
}

div#text {
    margin: -50px 20px;
}

div#text > h1 {
    font-size: 2rem;
}

div#text > p {
    font-size: 1.1rem;
    margin: 1.5rem 0;
}

div#link-home-page {
    width: 100%;
    text-align: left;
    padding-top: 20px;
}

.button {
    all: unset;
    display: inline-block;
    font-size: 0.8rem;
    color: #fff;
    text-decoration: none;
    border: 1px solid #333;
    border-radius: 5px;
    background: #333;
    cursor: pointer;
    padding: 0.8rem 1.5rem;
}

.button:hover {
    background: #BDBDBD;
    border-color: #BDBDBD;
    color: #333;
}

footer {
    text-align: center;
    padding: 1.2rem;
}

footer > p, a {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    color: #BDBDBD;
}

footer a {
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    color: #333;
    text-decoration: underline;
}