@charset "UTF-8";

/* LAPTOP */
@media screen and (max-width: 1440px) {

    header {
        padding-right: 4.5em;
    }

    main {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 1024px) {

    header {
        padding-left: 3.25em;
        padding-right: 3.25em;
    }

    #sectionOne {
        width: 30%;
    }

    #sectionOne .description {
        width: 95%;
    }

    #sectionTwo {
        width: 70%;
    }

    #container__profile .designed {
        width: 60%;
    }
}

/* TABLET */
@media screen and (max-width: 768px) {

    header {
        padding-left: 2.375em;
        padding-right: 2.375em;
    }

    #openMenu,
    #closeMenu {
        display: block;
    }

    #closeMenu {
        position: absolute;
        top: 35px;
        right: 45px;
    }

    #menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw !important;
        height: 110vh !important;
        align-items: center;
        display: none;
    }

    #menu .menu-sections {
        width: 100%;
        height: 35%;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    #menu .menu-sections a {
        opacity: 0.6;
    }

    header #menu a.selected {
        transform: scale(1.2);
    }

    main {
        height: calc(100vh + 170px);
        flex-direction: column;
        align-items: flex-start;
        row-gap: 20px;
    }

    #sectionOne {
        width: 100%;
    }

    #sectionOne .description {
        width: 80%;
    }

    .description h1 {
        font-size: 2.5em;
    }

    .description p {
        font-size: 1.25em;
        margin: 15px 0;
    }

    #sectionTwo {
        width: 100%;
    }

    #container__profile .designed {
        width: 70%;
    }

    footer {
        margin-top: 0;
    }
}

/* MOBILE */
@media screen and (max-width: 426px) {

    #closeMenu {
        right: 20px;
    }

    header {
        padding-left: 1em;
        padding-right: 1em;
    }

    main {
        width: 90vw;
        height: 100vh;
        align-items: center;
    }

    #sectionOne .description {
        width: 288px;
    }

    #container__profile {
        width: 100%;
        height: 140px;
        right: 50%;
        transform: translateX(50%);
    }
}