@charset "UTF-8";

@media screen and (max-width: 1496px) {

    main {
        margin-bottom: 70px;
    }

    #sectionTwo #container__images {
        height: 100%;
    }

    #container__profile {
        bottom: -10px;
    }
}

/* LAPTOP L 1440px*/
@media screen and (max-width: 1440px) {

    main {
        margin-bottom: 50px;
    }

    #sectionTwo #container__images {
        height: 97%;
    }
}

/* LAPTOP 1024px */
@media screen and (max-width: 1024px) {

    header {
        padding-left: 2.785em;
        padding-right: 1.5em;
    }

    #menu {
        padding-right: 0;
    }

    main {
        margin-bottom: auto;
    }

    #sectionOne {
        width: 30%;
    }

    #sectionOne .description {
        width: 95%;
    }

    #sectionTwo {
        width: 70%;
    }

    #sectionTwo #container__images {
        height: 88%;
    }

    #container__profile {
        width: 360px;
        height: 140px;
    }

    #container__profile .designed {
        width: 70%;
    }
}

/* TABLET 768px*/
@media screen and (max-width: 768px) {

    header {
        padding-left: 1.785em;
        padding-right: 0.65em;
    }

    main {
        height: calc(100vh + 230px);
        flex-direction: column;
        align-items: flex-start;
        row-gap: 20px;
    }

    #sectionOne {
        width: 100%;
    }

    #sectionOne .description {
        width: 450px;
    }

    .description h1 {
        font-size: 2.5em;
    }

    .description p {
        font-size: 1.25em;
        margin: 15px 0;
    }

    #sectionTwo {
        width: 100%;
    }

    #sectionTwo #container__images {
        height: 92%;
    }

    #container__profile {
        width: 340px;
        right: 5%;
        bottom: 0;
    }
}

/* MOBILE L 425px */
@media screen and (max-width: 426px) {

    #openMenu,
    #closeMenu {
        display: block;
    }

    #closeMenu {
        position: absolute;
        top: 17px;
        right: 22px;
    }

    #menu {
        position: fixed;
        align-self: flex-start;
        flex-direction: column;
        align-items: center !important;
        justify-content: center !important;
        width: 100vw;
        height: 110vh;
        background: var(--backg01);
        margin: 0 0 0 0px;
        padding: 0;
        padding-right: 0 !important;
        display: none;
    }

    #menu a {
        padding: 30px 0 !important;
    }

    #menu #home {
        padding-bottom: 10px !important;
    }

    header #menu a:hover::after{
        width: 100%;
    }
    
    header #menu #home::after {
        width: 100%;
    }

    main {
        width: 90vw;
        height: 100vh;
        align-items: center;
        margin-bottom: auto;
    }

    #sectionOne {
        height: 25%;
    }

    #section .description {
        width: 350px;
    }

    #sectionTwo {
        height: 75%;
        align-self: center;
    }

    #sectionTwo #container__images {
        height: 85%;
    }

    #container__profile {
        bottom: 0px;
        right: 50%;
        transform: translateX(50%);
    }
}