@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
    --Sora: 'Sora', sans-serif;

    --c1: #883AE1;
    --c2: #20293A;
    --c3: #6C727F;
    --c4: #FAFAF9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--Sora);
    background-color: var(--c4);
}

#card, #designer-container {
    width: 368px;
    background-color: #FFF;
    box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);
    border-radius: 12px 12px 0 0;
    padding: 16px 16px 20px 16px;
    margin: 168px auto 1px auto;
}

img {
    border-radius: 12px;
}

#details-container {
    width: 100%;
}

.tag {
    width: 65px;
    font-size: 0.625rem;
    font-weight: bold;
    color: var(--c1);
    background-color: rgba(136, 58, 225, 0.2);
    border-radius: 50px;
    padding: 4px 15px;
    margin: 16px 0;
}

h1 {
    font-size: 1.125rem;
    color: var(--c2);
    margin-bottom: 6px;
}

p {
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 21px;
    color: var(--c3);
}

#designer-container {
    border-radius: 0 0 12px 12px;
    padding: 20px 16px;
    margin-top: 1px;
}

p#annie {
    font-size: 0.75rem;
    font-weight: 400;
}