@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;1,500;1,600;1,700&display=swap');

:root {
    --color-0: #4E5150;
    --color-1: #333;
    --color-2: #4F4F4F;
    --color-3: #828282;
    --color-4: #F2F2F2;
    --color-5: #E0E0E0;
    --color-6: #BDBDBD;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

header {
    width: 70vw;
    padding-top: 60px;
    margin: auto;
}

header h1 {
    color: var(--color-0);
    font-size: 2.25rem;
}

main {
    width: 70vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

section {
    margin: 60px 0;
}

form {
    width: 29rem;
    display: flex;
    flex-direction: column;
}

h3 {
    color: var(--color-1);
    font-size: 1.125rem;
    margin-bottom: 15px;
}

h3.margemTop {
    margin-top: 50px;
}

label {
    color: var(--color-2);
    font-size: 0.75rem;
    position: relative;
}

input, select {
    width: 100%;
    border: 1px solid var(--color-3);
    border-radius: 12px;
    padding: 20px 0px 20px 45px;
    margin: 5px 0 20px 0;
}

select {
    cursor: pointer;
    color: var(--color-3);
    padding-left: 40px;
}

select > optgroup {
    color: var(--color-3);
}

select > optgroup > option {
    color: var(--color-2);
}

input::placeholder {
    color: var(--color-3);
}

input:focus {
    background-color: var(--color-4);
}

span.material-symbols-outlined {
    font-variation-settings: 'FILL' 1;
    position: absolute;
    top: 38%;
    left: 3%;
    color: var(--color-3);
}

#container-save-info {
    width: 100%;
    display: flex;
    column-gap: 5px;
}

input#save-info{
    cursor: pointer;
    width: 21px;
    border-radius: 4px;
    padding: 0;
    margin: 0;
}

input#submit-btn {
    cursor: pointer;
    width: 166px;
    height: 54px;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    color: #FFF;
    background-color: #F2994A;
    border: none;
    border-radius: 12px;
    padding: 17px 0 20px 0;
    margin: 20px 0 0 0;
    align-self: flex-end;
}

#container-coutry-pcode {
    display: flex;
    column-gap: 20px;
}

#container-country-select,
#container-postal-code {
    width: 50%;
    position: relative;
}

#container-country-select > span.material-symbols-outlined,
#container-postal-code >  span.material-symbols-outlined {
    top: 40%;
    left: 6%;
}

#container-product-info {
    width: 385px;
    background-color: var(--color-4);
    border-radius: 12px;
    padding: 30px;
}

.product {
    display: flex;
    column-gap: 20px;
    margin-bottom: 30px;
}

.container-image {
    width: 136px;
}

.container-image img {
    width: 100%;
    border-radius: 12px;
}

.container-product-price {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-product-price > h3 {
    margin: 0;
}

.container-product-price > div.container-price {
    display: flex;
    align-items: center;
    color: #F2994A;
    margin-bottom: 25px;
}

.container-product-price > div.container-price > p:nth-child(2) {
    color: var(--color-0);
    font-size: 0.75rem;
    text-decoration: line-through;
    margin-left: 15px;
}

.container-product-quantity {
    width: 135px;
    color: var(--color-1);
    border: 1px solid var(--color-3);
    border-radius: 12px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.container-product-quantity > input {
    all: unset;
    width: 37%;
    font-size: 1rem;
    text-align: center;
}

.container-product-quantity > input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.container-product-quantity > input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.container-product-quantity > button {
    background: var(--color-5);
    color: var(--color-3);
    font-size: 1.125rem;
    border: none;
    border-radius: 4px;
    padding: 1px 2px;
    cursor: pointer;
}

.container-product-quantity > button:hover {
    background-color: var(--color-6);
}

#container-shipping-total {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5.875rem;
}

#container-shipping-total > div {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

#container-shipping-total > div:first-child {
    border: 1px solid transparent;
    border-color: var(--color-6) transparent;
}

#container-shipping-total > div > h3 {
    font-size: 1.125rem;
    color: var(--color-1);
    margin-bottom: 0;
}

#container-shipping-total > div > p {
    font-size: 0.875rem;
    color: var(--color-1);
}

footer {
    width: 90vw;
    color: var(--color-6);
    font-size: 0.875rem;
    text-align: center;
    padding: 3px;
    margin: auto;
    margin-top: 50px;
}

footer a {
    color: var(--color-6);
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    color: var(--color-5);
}