@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.flexbox, .grid-item { display: flex; }

img, .radius, .grid-item { border-radius: 1.2vw;}

p {
    font-size: 1vw;
    font-weight: 600;
    color: #BDBDBD;
}

#profile_container {
    width: 100vw;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    gap: 2.5vh 0;
    text-align: center;
    margin-top: 6vh;
}

#profile_card {
    width: 20%;
}

#profile_card > img {
    width: 70%;
    border-radius: 1.6vw;
}

#profile_card > h2 {
    color: #4E5150;
    font-size: 2vw;
    font-weight: 600;
    margin: 1.5vh 0 0.8vh 0;
}

#profile_card > p {
    color: #A9A9A9;
}

#social_container {
    width: 77%;
    justify-content: center;
    gap: 0 2.5vw;
}

#social_container > div {
    flex: 0 1 7vw;
    height: 5vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #E5E5E5;
    
}

#social_container > div > p:first-child {
    font-size: 1.3vw;
    color: #4E5150;
}

/* Gallery Section */

#images_container {
    width: 70vw;
    margin: 6.5vw auto;
    justify-content: center;
}

#grid_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 3%;
}

.grid-item {
    width: 100%;
    height: auto;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 15%);
}

.grid-item > img {
    width: 100%;
}

.grid-item.img2 {
    grid-column: 2 / 4;
}

.grid-item.img3 {
    grid-column: 1 / 3;
}

.grid-item.img4 {
    grid-area: 2 / 3 / 4 / 4;
}

@media screen and (max-width: 768px) {

    #profile_card > h2 {
        font-size: 2vw;
    }

    p {
        font-size: 1.2vw;
    }

    #social_container > div > p:first-child {
        font-size: 1.4vw;
    }
}

@media screen and (max-width: 426px) {
    
    #social_container > div {
        flex: 0 0 10vw;
        height: 6.7vw;
    }
}