footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

footer > p {
    opacity: 75%;
}

footer a {
    text-decoration: none;
    color: var(--color-four);
    font-weight: bold;
    opacity: 50%;
}

footer a:hover {
    opacity: 100%;
}