@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&family=Montserrat:ital,wght@0,500;0,700;1,500;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    /* fonts */
    --font-logo: 'Heebo', sans-serif;
    --font-default: 'Poppins', sans-serif;
    --font-repo: 'Montserrat', sans-serif;

    /* colors*/
    --Gray-1: #333333;
    --Gray-2: #4F4F4F;
    --Gray-3: #828282;
    --Gray-4: #BDBDBD;
    --Gray-5: #E0E0E0;
    --Gray-6: #F2F2F2;
    --white: #FFFFFF;
    --Special-1: #2D9CDB;
    --Special-2: #EB5757;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-default);
    color: var(--Gray-1);
}

a {
    cursor: pointer;
    text-decoration: none;
    color: var(--Special-1);
    font-size: 1.125rem;
}

img {
    width: 100%;
    border-radius: 1.125rem;
}

input, button {
    border: none;
    border-radius: 0.75rem;
}

ul {
    list-style-type: none;
}

ul > li > a {
    font-size: 1.5rem;
    color: var(--Gray-1);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1.125rem;
}

.flex, .card {
    display: flex;
}

header, header > nav, header ul {
    display: flex;
}

body {
    display: flex;
    flex-direction: column;
    row-gap: 42px;
}

header {
    width: 90vw;
    padding: 1.5rem 0;
    margin: 0 auto;
    justify-content: space-between;
    position: relative;
}

/* logo */
div.logo {
    margin-right: 10px;
}

div.logo > a {
    font-family: var(--font-logo);
    font-size: 2.25rem;
    color: var(--Gray-1);
}

/* menu */
header > nav > ul {
    gap: 39px;
} 

header > nav > ul > li a {
    transition: color .3s;
}

header > nav > ul > li a:hover {
    color: var(--Special-1);
}

header span.menuButtom {
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 35px;
    display: none;
    z-index: 2;
}

/* main */
main, #section-a {
    width: 90vw;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    row-gap: 200px;
}

section {
    width: 75vw;
    margin: auto;
}

/* section-a */
#section-a {
    width: 100%;
    row-gap: 42px;
}

.container-title1, .container-title2 {
    width: 543px;
    margin-left: 220px;
}

.container-image {
    width: 100%;
}

.container-title2 {
    width: 365px;
}

.container-title2 p {
    margin: 42px 0;
}

form {
    width: 96%;
    position: relative;
}

form > label {
    font-size: 0.875rem;
    color: var(--Gray-3);
}

form > input[type="email"] {
    width: 100%;
    font-size: 1.125rem;
    background-color: var(--Gray-6);
    padding: 15px 20px;
    margin-top: 6px;
}

form > input[type="email"]:focus {
    background-color: var(--Gray-5);
}

form > input:focus {
    outline: none;
}

form > input::placeholder {
    color: var(--Gray-4);
}

form > input[type="submit"] {
    cursor: pointer;
    font-size: 1.125rem;
    color: var(--Gray-6);
    background-color: var(--Special-1);
    padding: 11px 29px;
    position: absolute;
    right: 3px;
    bottom: 4px;
}

form > input[type="submit"]:hover {
    opacity: .9;
}

/* section-b */
#section-b {
    flex-direction: column;
    row-gap: 42px;
}

div.material-symbols-container {
    background-color: var(--Special-1);
    width: 67px;
    height: 67px;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
}

span.material-symbols-outlined {
    font-size: 2.25rem;
}

#section-b > h2 {
    width: 340px;
}

#section-b > .card-container.flex {
    width: 100%;
    justify-content: space-between;
    margin: auto;
    position: relative;
}

#section-b > .card-container > .card {
    cursor: pointer;
    flex-direction: column;
    gap: 42px;
    width: 341px;
    padding: 42px 18px;
    border-radius: 1.5rem;
    transition: .5s;
}

#section-b > .card-container > .card:hover {
    box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.1);
    transform: scale(1.1);
}

.card > button {
    cursor: pointer;
    width: 116px;
    font-size: 1rem;
    color: var(--Gray-3);
    background-color: var(--Gray-5);
    padding: 9px 0;
}

.card > button:hover {
    opacity: 40%;
}

/* section-c */
#section-c > h2 {
    width: 380px;
}

#section-c >.container-image {
    display: flex;
    column-gap: 30px;
}

.figure-container {
    width: 100%;
}

.figure-container > figure:first-child {
    margin-bottom: 150px;
}

.figure-container.group-figure1 > figure:first-child {
    margin-top: 150px;
}

.figure-container > figure {
    opacity: 40%;
    transition: opacity 1s;
}

.figure-container > figure:hover {
    opacity: 100%;
}

figure > figcaption {
    font-size: 0.875rem;
    font-weight: 300;
    color: var(--Gray-3);
}

figure > h3 {
    font-weight: normal;
}

.container-link_sMore {
    width: 100%;
    justify-content: flex-end;
    column-gap: 12px;
}

.container-link_sMore > a {
    font-size: 1.5rem;
}

.container-link_sMore > a:hover {
    text-decoration: underline;
}

.container-link_sMore > span {
    font-size: 1.5rem;
    color: var(--Special-1);
    align-self: center;
}

/* section-d */
#section-d {
    flex-direction: column;
    row-gap: 196px;
}

.team-container {
    width: 100%;
    height: 584px;
    align-items: center;
    justify-content: space-between;
}

.text-container {
    width: 340px;
}

.text-container > a {
    color: var(--Special-2);
}

.text-container > p {
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--Gray-3);
}

.team-img-container {
    width: 62%;
    height: 100%;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.team-img-container div {
    width: 46.3%;
    margin-left: 24px;
}

.team-img-container > div:nth-child(2) {
    width: 42%;
}

.team-img-container >div:nth-child(2) > img:first-child {
    width: 90%;
    margin-bottom: 17px;
}

#carlos-tran-container {
    width: 85%;
}

#profile-container {
    width: 70%;
    column-gap: 30px;
    margin-top: 45px;
}

#profile-container > .profile-container-image {
    width: 82px;
}

.profile-container-image > img {
    border-radius: 0.75rem;
}

#profile-container > div > p {
    color: var(--Gray-3);
    margin-top: 18px;
}

/* footer */
footer {
    width: 100%;
    background-color: #100E1D;
    padding-top: 46px;
}

footer * {
    color: var(--white) !important;
}

#footer-container.flex {
    width: 75vw;
    justify-content: space-between;
    margin: auto;
}

#menu-social-footer-container {
    width: 35%;
    justify-content: space-between;
    margin-right: 12px;
    margin-bottom: 46px;
}

#menu-footer-container > ul > li {
    margin: 10px 12px 10px 0;
}

#menu-footer-container > ul > li > a {
    font-size: 1.125rem;
    font-weight: 400;
}

#menu-footer-container > ul > li > a:hover {
    opacity: 40%;
}

#icons-container ion-icon {
    font-size: 1.5rem;
    color: var(--white);
    margin-right: 6px;
}

div#form-footer-container {
    width: 350px;
}

#form-footer-container > form {
    width: 100%;
}

form > input {
    color:var(--Gray-1) !important;
}

.createdBy-container-link.flex {
    justify-content: center;
}

.createdBy-container-link.flex > p,
.createdBy-container-link.flex a {
    font-size: 0.875rem;
}

.createdBy-container-link.flex a {
    font-weight: bold;
}