
@media screen and (max-width: 844px) {
    header .headerGroup {
        width: 80%;
    }

    header h1 {
        font-size: 1.875rem;
    }

    header .about h3, pre {
        font-size: 0.875;
    }

    .container {
        justify-content: flex-start;
        gap: 30px;
    }

    .container-img {
        width: 200px;
    }

    .container-img:hover {
        transform: scale(1.1);
    }
}

@media screen and (max-width: 768px) {

    header {
        width: 100vw;
        border-radius: 0;
        margin-top: 0;
    }

    header .headerGroup {
        flex-direction: column;
        align-items: flex-start;
        width: 90%;
    }

    header h1 {
        font-size: 2.25rem;
    }
    
    header .about {
        margin-top: 30px;
        margin-bottom: 0;
    }

    header .about h3, pre {
        font-size: 1.125rem;
    } 

    main {
        height: calc(100vh + 500px);
    }

    .container {
        width: calc(200px * 3);
        height: 100%;
        gap: 20px;
        justify-content: center;
    }

    .container-img {
        width: 190px;
        height: 250px;
    }

    .container-img:hover {
        transform: scale(1.2);
    }

    .container-img:nth-child(5) {
        align-self: flex-start;
    }

    .container-img:nth-child(2), .container-img:nth-child(4),.container-img:nth-child(6) {
        align-self: flex-end;
    }

    .legend {
        width: 250px;
        font-size: 0.625rem;
        left: 40px;
    }

    .name {
        font-size: 0.875rem;
    }

    footer {
        width: 100vw;
        border-radius: 0;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 478px) {

    header, main, footer {
        width: 100vw;
        border-radius: 0;
    }

    header {
        width: 100vw;
        margin: 0 0 3px 0;
    }

    header .about pre {
        font-size: .875rem;
    }

    main {
        height: calc(100vh + 500px);
    }

    .container-img {
        width: 150px;
        height: 250px;
    }

    .container-img:hover {
        transform: scale(none);
    }

    footer {
        margin: 3px 0 0 0;
        font-size: 0.75rem;
    }
}